<tr>
  <td><%= detail.product.name %></td>
  <td><%= detail.quantity %></td>
  <td><%= public_send("#{I18n.locale}", detail.product.price) %></td>
  <td><%= public_send("#{I18n.locale}", format_product_total(detail)) %></td>
</tr>
