<% provide :title, t("sign_up.title") %>
<head>
  <title><%= t "sign_up.title" %></title>
</head>
<body class="background">
  <div class="signup-page">
    <div class="body-signup">
      <div class="formdk">
        <%= render "form" %>
      </div>
    </div>
  </div>
</body>
