<div class="check-out__body-right__product">
  <div class="check-out__body-right__product__info">
    <% if cart_detail.product.image.persisted? %>
      <%= image_tag cart_detail.product.image, class: "table-data__image" %>
    <% end %>
    <p><%= cart_detail.product.name %></p>
  </div>
  <p class="check-out__body-right__product__price"><%= cart_detail.product.price %></p>
  <p>x<%= cart_detail.quantity %></p>
</div>
