<tr class="table-row">
  <td class="table-data"><%= category.name %></td>
  <td class="table-data"><%= l(category.created_at) %></td>
  <td class="table-data"><%= l(category.updated_at) %></td>
</tr>
