$collage-pic-border: #E6E6E6;
$background-color: white;
$gray-color: #808080;
$buy_amout-color: #dbdbdb;
$background-wishlist-color: #a3f5a5;
$wishlist-color: #00B207;
$comment-border-color: #e6e6e6;
$white-color: white;
$green-color: green;
$table-background-color: #f1f1f1;
$table-border-color: #ddd;
$table-header-color: #333;
$table-shadow-color: rgba(0, 0, 0, 0.1);
$checkout-text-color: #1A1A1A;
$line-color: #E6E6E6;
$check-out-title-color: #4d4d4d;
$list-hover-color: rgb(223, 239, 223);
$status-green-color: #2C742F;
$status-red-color: #EA4B48;
$status-green-background-color: rgba(32, 181, 38, 0.20);
$status-red-background-color: rgba(234, 75, 72, 0.20);
