// colors.scss
$primary-color: #007bff;
$secondary-color: #0056b3;
$background-color-login: #00b207;
$background-color-signup: #00b207;
$text-color-signup: #000;
$border-color: #e6e6e6;
$border-focus-color: #66afe9;
$shadow-color: rgba(102, 175, 233, 0.6);
$background-image-login: url("https://concung.com/2020/12/49927-69726-large_mobile/binh-giu-nhiet-diller-450ml-2-lop-inox-304-xanh.jpg");
$background-image-signup: url("https://png.pngtree.com/background/20230519/original/pngtree-this-is-a-nice-looking-thermos-that-comes-with-a-plastic-picture-image_2661765.jpg");
$collage-pic-border: #E6E6E6;
$background-color: white
