$collage-pic-border: #E6E6E6;
$background-color: white;
$gray-color: #808080;
$buy_amout-color: #dbdbdb;
$background-wishlist-color: #a3f5a5;
$wishlist-color: #00B207;
$comment-border-color: #e6e6e6;
$white-color: white;
$green-color: green;
