// colors.scss
$primary-color: #00b207;
$background-color-login: #00b207;
$background-color-signup: #00b207;
$text-color-signup: #000;
$border-color: #e6e6e6;
$border-focus-color: #66afe9;
$shadow-color: rgba(102, 175, 233, 0.6);
$background-image-login: url("https://concung.com/2020/12/49927-69726-large_mobile/binh-giu-nhiet-diller-450ml-2-lop-inox-304-xanh.jpg");
$background-image-signup: url("https://i.pinimg.com/originals/78/be/5d/78be5dd68cde3f3616c7304c2b158a45.jpg");
$collage-pic-border: #E6E6E6;
$background-color: white;
$hover-background-color: rgb(223, 239, 223);
$title-background-color: rgb(185, 182, 182);
$highlight-color: #00b207;
$text-color: #4d4d4d;
$white: white;
$header-top-background: #333;
$header-top-color: #B3B3B3;
$logo-text: #3b3b3b;
$navbar-border-color: #dbdbdb;
$navbar-text-color: #666;
$footer-icon: #808080;
$footer-bottom: #1A1A1A;
$admin-sidebar-user: #888888;
$admin-sidebar: #555555;
