@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes FadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes indent {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 10px;
  }
}

@keyframes popupSlideIn {
  from {
    opacity: 0.7;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sliderSlideIn {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

header {
  background-color: $white;
}

.header__top {
  background-color: $header-top-background;
  color: $header-top-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
  height: 38px;
  font-size: 15px;
}

.i18n {
  display: flex;
}

.header__top hr {
  border-color: $border-color;
  margin: 0 10px;
  height: 16px;
  -webkit-transform:rotate(90deg);
}

.header__top a {
  text-decoration: none;
  color: $header-top-color;
}

.header__top a:hover {
  cursor: pointer;
  color: $primary-color;
}

.validation {
  display: flex;
  position: relative;
  align-items: center;
}

.validation__register,
.validation__login {
  text-decoration: none;
  color: $header-top-color;
}

.header__center {
  padding: 0 160px;
  display: flex;
  align-items: center;
  margin: 26px 0;
  justify-content: space-between;
  position: sticky;
}

.logo-shop {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.96px;
  color: $logo-text;
}

.logo:hover {
  text-decoration: none;
  color: $logo-text;
}

.search-box {
  border: 1px solid $border-color;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 500px;
  overflow: hidden;
}

#search__input {
  border: none;
  outline: none;
  padding: 12px 18px;
  flex: 1;
}

.search-box__btn {
  border: none;
  outline: none;
  padding: 12px 24px;
  background-color: $primary-color;
  color: $white;
}

.search-box__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.wishlist-cart {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.wishlist-cart a {
  color: $header-top-background;
  font-size: 20px;
}

.wishlist-cart hr {
  border-color: $navbar-border-color;
  margin: 0 20px;
  height: 26px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 160px;
  border-top: 1px solid $navbar-border-color;
  border-bottom: 1px solid $navbar-border-color;
  align-items: center;
  font-size: 15px;
}

.navbar-selected {
  color: $primary-color !important;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 776px;
}

.navbar ul li {
  margin: 16px 40px 10px 0;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: $navbar-text-color
}

.navbar ul li hr {
  display: none;
  position: absolute;
  border: 1px solid $primary-color;
  top: 26px;
  left: -4px;
  width: 84px;
}

.navbar ul li:nth-child(3) hr {
  left: -6px;
}

.navbar ul li:last-child hr {
  left: -8px;
  width: 70px;
}

.navbar ul li a:hover {
  color: $primary-color;
  animation: FadeIn linear 0.3s;
}

.navbar ul li a:hover .navbar ul li hr {
  display: block;
}

.phone {
  font-size: 16px;
}

.phone__icon {
  margin-right: 6px;
}

.footer__top {
  padding: 40px 160px 14px 160px;
  background-color: $footer-bottom;
  color: $footer-icon;
  display: grid;
  grid-template-columns: 0.6fr 0.5fr 0.5fr 0.6fr;
}

.footer__top .logo {
  color: $white;
  font-size: 22px;
  line-height: 33px;
  margin-top: 16px;
}

.footer__top .social-icon {
  margin-top: 20px;
}

.footer__top .social-icon a {
  text-decoration: none;
  color: $footer-icon;
  font-size: 20px;
  margin: 6px 16px 0 0;
}

.footer__top .social-icon a:hover {
  color: $primary-color;
}

.box:first-child {
  margin-left: 0;
}

.box {
  border-bottom: 1px solid $footer-icon;
  padding-bottom: 44px;
}

.box__header {
  font-size: 16px;
  color: $white;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__top li {
  list-style: none;
  margin: 14px 0;
  font-size: 14px;
  transition: margin-left 0.1s linear;
}

.footer__top li:hover {
  cursor: pointer;
  color: $primary-color;
  margin-left: 6px;
}

.download {
  font-size: 14px;
}

.ggplay,
.appstore {
  display: flex;
  text-decoration: none;
  color: $white;
  justify-content: center;
  align-items: center;
  background-color: $header-top-background;
  width: 150px;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 4px;
}

.ggplay:hover,
.appstore:hover {
  color: $white;
  text-decoration: none;
}

.ggplay__icon {
  font-size: 24px;
}

.appstore__icon {
  font-size: 30px;
}

.ggplay__icon,
.appstore__icon {
  margin-right: 8px;
}

.ggplay__text span,
.appstore__text span {
  color: $header-top-color;
  font-size: 12px;
  line-height: 12px;
}

.footer__bottom {
  background-color: $footer-bottom;
}

.footer__bottom div {
  text-align: center;
  color: $footer-icon;
  font-size: 13px;
  margin: auto;
  padding-bottom: 14px;
}
