@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable';
@import 'var_shop';

.background {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: $background-image-signup;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
  .signup-page {
    .signup-logo {
      padding-bottom: 50px;
      width: 100%;
      text-align: center;
    }

    .signup-logo a {
      text-decoration: none;
    }

    .signup-logo span {
      font-size: 30px;
      color: white;
    }

    .body-signup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .logo__img {
      height: 36px;
    }

    .formdk {
      width: 500px;
      border: solid 2px $border-color;
      margin: 0 auto;
      font-size: 14px;
      background-color: white;
      border-radius: 8px;
      padding: 20px 40px;
    }

    .tieude-form {
      display: block;
      font-size: 30px;
      text-align: center;
      padding: 20px;
      font-weight: bold;
    }

    #error_explanation {
      ul {
        li {
          list-style: none;
        }
      }
    }

    .email-name {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input {
      width: 100%;
      display: block;
      margin: 0 auto 30px auto;
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 16px 10px;
    }

    .signup-button {
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      width: 100%;
      display: block;
      margin: 0 auto 10px auto;
      padding: 16px 0;
      border: none;
      font-weight: bold;
      border-radius: 20px;
      color: white;
      background-color: $primary-color;
      cursor: pointer;
    }

    button:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    p {
      text-align: center;
      padding: 10px 0;
    }

    .login a {
      color: $primary-color;
    }

    .formdk__lienlac,
    .formdk__inputhoten,
    .formdk__taikhoan,
    .formdk__gioitinh {
      width: 100%;
      display: block;
      margin: 0 auto 20px auto;
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 16px 10px;
    }

    .formdk__gioitinh {
      margin-bottom: 30px;
    }
  }
}

/* CSS cho trang đăng nhập */
.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: $background-image-login;
  background-repeat: no-repeat;
  background-size: 100%;

  .signup-logo {
    padding-bottom: 60px;
    text-align: center;
  }

  .signup-logo a {
    text-decoration: none;
  }

  .signup-logo span {
    font-size: 30px;
    color: $login-logo-color;
    font-weight: bold;
  }

  .logo__img {
    height: 36px;
  }

  .formdn {
    border: solid 2px $border-color;
    margin: 0 auto;
    width: 800px;
    font-size: 14px;
    background-color: $white;
    border-radius: 8px;
    padding: 20px 40px;
  }

  .formdn__tieude--fontto {
    display: block;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
  }

  .formdn__nhotoi {
    display: inline-block;
    align-items: center;
  }

  .formdn__nhotoi span {
    margin-left: 5px;
  }

  .formdn__quenmk {
    display: inline-block;
    float: right;
  }

  .formdn__email,
  .formdn__mk {
    width: 100%;
    display: block;
    margin: 0 auto 20px auto;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 16px 10px;
  }

  .formdk__gioitinh {
    width: 100%;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 16px;
    color: $input-text-color;
    background-color: $input-background-color;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .formdk__gioitinh:focus {
    border-color: $border-focus-color;
    outline: none;
    box-shadow: 0 0 8px $shadow-color;
  }

  .formdn__div3 {
    height: 40px;
  }

  a {
    color: $primary-color;
    font-weight: 500;
  }

  .login-button {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 0 auto 10px auto;
    padding: 16px 0;
    border: none;
    color: $button-text-color;
    font-weight: bold;
    border-radius: 20px;
    background-color: $background-color-signup;
    cursor: pointer;
  }

  input {
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    padding: 20px 20px 10px 20px;
  }

  .login {
    font-weight: bold;
  }
}

.products-wrapper {
  padding: 20px 160px 20px 160px;
  display: flex;
  justify-content: space-between;
}

.product-filter {
  margin: 10px 5px 0 0;
  width: 15%;
  h3 {
    margin-top: 0;
  }
  hr {
    border-color: $navbar-border-color;
    width: 80%;
  }
}

.filter-price {
  .field {
    label {
      display: block;
      margin-top: 10px;
    }
  }
}

.collage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 85%;
}

.collage-pic {
  width: 19%;
  position: relative;
  border: solid 1px $collage-pic-border;
  margin: 0 0 10px 5px;
  border-radius: 5px;
  box-sizing: content-box;
  background-color: $background-color;
}

.collage-pic_image {
  margin: 0;
  width: 100%;
}

.collage-info {
  text-decoration: none;
  color: inherit;
}
.collage-pic__img {
  width: 100%;
}
.center {
  text-align: center;
}
.collage-pic__preview--hidden,
.collage-pic__heart--hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.collage-pic:hover .collage-pic__preview--hidden,
.collage-pic:hover .collage-pic__heart--hidden {
  opacity: 1;
  pointer-events: auto;
}

.collage-pic__heart--visible {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}
.collage-pic__preview--visible {
  position: absolute;
  top: 60px;
  right: 20px;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}

.collage-pic__bag {
  position: absolute;
  border: solid 1px $collage-pic-border;
  top: 80%;
  right: 8%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}

.collage-pic__heart--visible:hover, .collage-pic__bag:hover{
  background-color: $primary-color;
  color: $white;
}

.collage-pic__name,
.collage-pic p {
  margin: 10px 10px 0 10px;
}

.collage-pic__name {
  text-decoration: none;
  color: $text-color;
  overflow: hidden;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.collage-pic:hover .collage-pic__name {
  color: $highlight-color;
}

.collage-pic__star {
  margin: 10px;
  font-size: 10px;
}

.checked {
  color: $star-checked-color;
}

//CSS cho view product page Admin
.product-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    text-align: start;
  }

  nav {
    margin-bottom: 20px;
  }

  .product-list {
    width: 80%;
    table {
      border-collapse: collapse;
      margin: 20px 0;
      margin-top: 20px;
      width: 100%;
    }

    th,
    td {
      padding: 10px;
      border: 1px solid $color-border;
      text-align: center;
      width: 150px;
      min-width: 150px;

      th {
        background-color: $color-th-background;
      }

      tbody tr:nth-child(even) {
        background-color: $color-tr-even-background;
      }

      tbody tr:hover {
        background-color: $color-tr-hover-background;
      }
    }

    .actions {
      a {
        margin-right: 10px;
        text-decoration: none;
        color: $color-link;

        &:hover {
          text-decoration: $color-link-hover;
        }

        &.delete {
          color: $color-link-delete;
        }
      }
    }

    .new-product-link {
      display: inline-block;
      margin: 20px 0;
      padding: 10px 20px;
      background-color: $color-new-product-background;
      color: $color-new-product-text;
      text-decoration: none;

      &:hover {
        background-color: $color-new-product-hover-background;
      }
    }
  }
}

.edit-page {
  padding: 0 160px;
  .body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    height: fit-content;
  }

  .nav-link {
    margin-left: 20%;
  }

  .body__menu {
    width: 20%;
    height: fit-content;
    border: 2px solid $border-color;
    border-radius: 4px;
  }

  .title {
    font-size: 17px;
    font-weight: bold;
    text-indent: 10px;
    padding: 10px 0;
  }

  .list__item {
    font-size: 14px;
    padding: 10px 0;
  }

  .list__item a {
    text-decoration: none;
    color: black;
  }

  .list__icon {
    margin: 0 10px;
  }

  .list div:hover {
    background-color: $hover-background-color;
    cursor: pointer;
  }

  .formedit {
    width: 80%;
    height: fit-content;
    border: solid 1px $border-color;
    border-radius: 8px;
    padding-bottom: 20px;
  }

  .body label,
  .body input,
  .body textarea {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    outline: none;
  }

  .body textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid $border-color;
  }

  .formedit__title {
    background-color: $title-background-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 0px !important;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
  }

  #hoten,
  #email,
  #sdt {
    padding: 10px;
    border: 1px solid $border-color;
    width: 367px;
    border-radius: 6px;
  }
  #submit {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: $primary-color;
  }

  .body__order-history {
    width: 960px;
    height: fit-content;
    border: 2px solid $border-color;
    margin: 10px;
  }

  .body__order-history .title {
    padding: 20px 0;
    border-bottom: 2px solid $border-color;
    border-left: 3px solid $primary-color;
  }

  .title__icon {
    color: $primary-color;
    font-size: 20px;
    padding: 0 10px;
  }

  .content__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr 1fr 0.7fr;
    padding: 10px;
    font-size: 14px;
  }

  .content .header {
    background-color: $border-color;
    padding: 5px;
  }

  .content__item div {
    margin: 5px 20px;
  }

  .content__item div a {
    color: $primary-color;
    text-decoration: none;
  }

  .content__next-page {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .content__next-page a {
    text-decoration: none;
    padding: 7px 11px;
    font-size: 10px;
    margin: 3px;
    border-radius: 50%;
  }

  .content__next-page .disable {
    background-color: $border-color;
    border: 1px solid $border-color;
    color: gray;
  }

  .content__next-page .enable {
    background-color: white;
    border: 1px solid $border-color;
    color: black;
  }

  .content__next-page .numpage {
    background-color: white;
    border: 1px solid white;
    color: black;
  }

  .content__next-page .selected_numpage {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;
  }

  .content__next-page .numpage:hover,
  .content__next-page .enable:hover {
    background-color: $hover-background-color;
    border: 1px solid $hover-background-color;
    color: black;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .formdk__lienlac,
  .formdk__inputhoten,
  .formdk__taikhoan,
  .formdk__gioitinh {
    width: 95%;
    display: block;
    margin: 0 auto 30px auto;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 16px 10px;
  }

  .formdk__gioitinh {
    margin-bottom: 30px;
  }

  a.signup-button {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    display: block;
    margin: 0 auto 10px auto;
    padding: 16px 0;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    background-color: $background-color-signup;
    cursor: pointer;
  }
}
//CSS cho view product page Admin
.product-list {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  th,
  td {
    padding: 10px;
    border: 1px solid $color-border;
    text-align: center;
  }

  th {
    background-color: $color-th-background;
  }

  tbody tr:nth-child(even) {
    background-color: $color-tr-even-background;
  }

  tbody tr:hover {
    background-color: $color-tr-hover-background;
  }

  .actions {
    a {
      margin-right: 10px;
      text-decoration: none;
      color: $color-link;

      &:hover {
        text-decoration: $color-link-hover;
      }

      &.delete {
        color: $color-link-delete;
      }
    }
  }

  .new-product-link {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: $color-new-product-background;
    color: $color-new-product-text;
    text-decoration: none;

    &:hover {
      background-color: $color-new-product-hover-background;
    }
  }
}

//CSS cho trang them product Admin
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: $light-color;
  border: 1px solid $input-border-color;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .field {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: $label-color;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $input-border-color;
      border-radius: 0.25rem;
      background-color: $input-background-color;
      color: $input-text-color;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        border-color: $input-focus-border-color;
        outline: 0;
        box-shadow: 0 0 8px rgba($input-focus-border-color, 0.6);
      }
    }
  }

  .actions {
    margin-top: 1.5rem;

    input[type="submit"] {
      background-color: $submit-background-color;
      color: $light-color;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: $submit-hover-background-color;
      }
    }
  }

  .link-back {
    display: inline-block;
    margin-top: 1rem;
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

//CSS cho view product page Admin
.product-list {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  th,
  td {
    padding: 10px;
    border: 1px solid $color-border;
    text-align: center;
  }

  th {
    background-color: $color-th-background;
  }

  tbody tr:nth-child(even) {
    background-color: $color-tr-even-background;
  }

  tbody tr:hover {
    background-color: $color-tr-hover-background;
  }

  .actions {
    a {
      margin-right: 10px;
      text-decoration: none;
      color: $color-link;

      &:hover {
        text-decoration: $color-link-hover;
      }

      &.delete {
        color: $color-link-delete;
      }
    }

    button {
      background-color: $color-link-delete;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;

      &:hover {
        background-color: darkred;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .new-product-link {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: $color-new-product-background;
    color: $color-new-product-text;
    text-decoration: none;

    &:hover {
      background-color: $color-new-product-hover-background;
    }
  }
}

//CSS cho trang them product Admin
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: $light-color;
  border: 1px solid $input-border-color;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .field {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: $label-color;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $input-border-color;
      border-radius: 0.25rem;
      background-color: $input-background-color;
      color: $input-text-color;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        border-color: $input-focus-border-color;
        outline: 0;
        box-shadow: 0 0 8px rgba($input-focus-border-color, 0.6);
      }
    }
  }

  .actions {
    margin-top: 1.5rem;

    input[type="submit"] {
      background-color: $submit-background-color;
      color: $light-color;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: $submit-hover-background-color;
      }
    }
  }

  .link-back {
    display: inline-block;
    margin-top: 1rem;
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
// CSS View All Bill Admin
.search-filter-wrapper {
  margin: 40px 40px 0;
  display: flex;
  justify-content: space-between;
  .search-wrapper {
    width: 30%;
    margin-top: 10px;
    .input-group {
      display: flex;
      .search-btn {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  .filter-wrapper {
    display: flex;
    width: 60%;
    justify-content: space-between;
    .total-after-discount-filter {
      label {
        display: block;
      }
    }
  }
}

.bill-list-wrapper {
  margin: 20px;
  padding: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 2px 4px $box-shadow-color;

  h1 {
    font-size: 24px;
    color: $text-color;
    margin-bottom: 20px;
    text-align: center;
  }

  .bill-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      padding: 12px;
      text-align: left;
      padding-left: 4px;
    }

    th {
      background-color: $primary-color-background;
      color: white;
      border-bottom: 1px solid $border-color;
    }

    td {
      border-bottom: 1px solid $border-color;
    }

    tr:nth-child(even) {
      background-color: $table-row-even;
    }

    tr:hover {
      background-color: $table-row-hover;
    }
  }

  .new-bill-link {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: $new-bill-link-bg;
    color: white;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: $new-bill-link-hover-bg;
    }
  }

  .btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: $secondary-color-background;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color-hover;
    }

    &.btn-secondary {
      background-color: $secondary-btn-bg;

      &:hover {
        background-color: $secondary-btn-hover-bg;
      }
    }
  }

  .pagy-bootstrap-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .page-link {
      margin: 0 5px;
      padding: 10px 15px;
      background-color: $secondary-color;
      color: white;
      text-decoration: none;
      border-radius: 4px;

      &:hover {
        background-color: $secondary-color-hover;
      }
    }
  }
}

.bill-details-wrapper {
  padding: 20px;

  h1 {
    color: $primary-color;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid $table-border-color;
    }

    th {
      background-color: $table-header-background;
      font-weight: bold;
    }

    td {
      background-color: $background-color;
    }
  }

  .bill-details {
    margin-bottom: 40px;
  }

  .bill-items {
    thead {
      th {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  .btn-primary {
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-hover;
    }
  }
}

.voucher-table-wrapper {
  .new-voucher-link {
    margin-bottom: 20px;
  }

  .voucher-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid $border-color;
      padding: 8px;
    }

    th {
      background-color: $background-color;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: $background-color;
    }

    tr:hover {
      background-color: $hover-color;
    }
  }
}

.admin-users {
  background-color: $background-color;
  color: $text-color;

  h1 {
    color: $primary-color;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid $border-color;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: $primary-color;
      color: white;
    }

    tr:nth-child(even) {
      background-color: $info-color;
      color: white;
    }

    tr:hover {
      background-color: lighten($primary-color, 10%);
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    a {
      color: $primary-color;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid $border-color;
      margin: 0 4px;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }

    .active {
      background-color: $primary-color;
      color: white;
    }
  }
}
