@import 'var_shop';
@import 'variable';
/*body cho thông tin sản phẩm*/
.product-detail_body{
  padding:0 160px 0 160px;
}
/*Thông tin sản phẩm*/
.addinfo{
  display: flex;
  width: 1200px;
  height: 456px;
  margin-top: 50px;
}

.addinfo_img, .addinfo_info{
  margin-right: 25px;
}

.addinfo_info{
  width:623px;
}

.addinfo_info h1{
  margin-bottom:15px;
}

.addinfo_info span{
  font-size: 14px;
}

.addinfo_info__starnote{
  display: inline;
  color:$gray-color;
  margin-left:3px;
}

.addinfo_info__brand button:hover{
  color: $green-color;
}

.addinfo_buy{
  display: flex;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addinfo_buy button{
  border:none;
  cursor: pointer;
}

.addinfo_buy__amount{
  height:36px;
  border-radius: 18px;
  padding: 5px;
  margin-left:0;
}

#addinfo_buy__amount--number{
  padding: 0 10px 0 10px;
}

.addinfo_buy__amount button{
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.addinfo_buy__wishlist{
  margin-right: 0;
}

.addinfo_buy__wishlist button{
  width:36px;
  height:36px;
  border-radius: 50%;
  background-color: $background-wishlist-color;
  color: $wishlist-color;
}

.addinfo_buy__amount button:hover, .addinfo_buy__wishlist button:hover{
  background-color: $wishlist-color;
  color: $white-color;
}

.addinfo_buy__addtocart{
  width: 250px;
}

.addinfo_buy__addtocart input{
  background-color: $wishlist-color;
  color:  $white-color;
  width: 250px;
  height: 45px;
  border: none;
  margin-top: 20px;
  border-radius: 18px;
}

.addinfo_info__tag, .addinfo_info__gia, .addinfo_info__info{
  margin-top:20px;
  margin-bottom: 20px;
}

.addinfo_info__tag {
  margin-top: 15%;
}

.addinfo_info__info, .addinfo_info__tag--grey  {
  color: $gray-color;
}

.addinfo_img, .addinfo_img img{
  width: 453px;
}

.selected{
  border: solid 3px $wishlist-color;
}

/*Nút mô tả + nút comment*/
.about_button{
  width: fit-content;
  margin: 30px auto 30px auto;
}

.about_button button{
  cursor: pointer;
  background-color:  $white-color;
  border:none;
  font-size: 17px;
  margin-right: 25px;
}

/*Mô tả sản phẩm + comment*/
#zero{
  height: 550px;
  position: relative;
}

.description, .comments{
  display: none;
}

.description.active{
  display: flex;
  flex-direction: row;
  width: 1200px;
  background-color: $white-color;
}

.description__text p, .description__text li{
  margin-bottom: 20px;
  color: $gray-color;
}

.comments.active{
  display: block;
  width: 1200px;
  position: relative;
  background-color:  $white-color;
  overflow: auto;
  height: 520px;
}

.comment{
  width: 550px;
  margin-bottom: 30px;
  border-bottom: solid 1px $comment-border-color;
  padding-bottom: 10px;
}

.comment__profileimage{
  width: 8%;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.comment__username{
  font-weight: bold;
  font-size: 14px;
}

.comment span{
  font-size: 10px;
}

.comment__content{
  color:$gray-color;
}

.create-form_component{
  display: block;
}

/* Checkout */
.check-out__body {
  margin: 32px 160px 40px 160px;
  color: $checkout-text-color;
  display: flex;
}

.check-out__body-left {
  width: 64%;
}

.check-out__body-left h2 {
  margin-bottom: 32px;
}

.check-out__body-left__row {
  display: flex;
}

.check-out__body-left__item {
  margin-right: 14px;
  width: 100%;
}

.check-out__body-left__item p {
  margin-bottom: 10px;
}

.check-out__body-left__item input,
.check-out__body-left__item select,
.check-out__body-left__item textarea {
  padding: 14px 0 14px 16px;
  border: 1px solid $line-color;
  border-radius: 6px;
  outline: none;
  margin-bottom: 24px;
  width: 100%;
}

.check-out__body-left__item .checkbox {
  width: 20px;
}

.check-out__body-left .line {
  border: 1px solid $line-color;
  margin: 12px 0 32px 0;
  width: 98.1%;
}

.check-out__body-right {
  border: 1px solid $line-color;
  border-radius: 8px;
  width: 36%;
  margin-left: 10px;
  padding: 0 24px 24px 24px;
  height: fit-content;
}

.check-out__body-right h3 {
  margin: 30px 0 20px 0;
}

.check-out__body-right__products {
  margin-bottom: 20px;
  font-size: 15px;
}

.check-out__body-right__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.check-out__body-right__product__info {
  display: flex;
  align-items: center;
}

.check-out__body-right__product__info img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.check-out__body-right__product__price {
  font-weight: 600;
  color: $checkout-text-color;
}

.check-out__body-right__info {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.check-out__body-right__info__title {
  color: $check-out-title-color;
}

.check-out__body-right .line {
  border: 1px solid $line-color;
  margin: 14px 0 14px 0;
}

.check-out__body-right .check-out__body-right__info:last-child .check-out__body-right__product__price {
  font-size: 18px;
}

.check-out__body-right__payment-item {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.check-out__body-right__payment-item input {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid $line-color;
  transition: 0.2s all linear;
  margin-right: 8px;
}

.check-out__body-right__payment-item input:hover {
  cursor: pointer;
  border: 1px solid $primary-color;
}

.check-out__body-right__payment-item input:checked {
  background-color: white;
  border: 7px solid $primary-color;
}

.check-out__body-right .btn-buy {
  margin-top: 10px;
  width: 100%;
  background-color: $primary-color;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 43px;
  padding: 16px 0;
}

.check-out__body-right button:hover {
  opacity: 0.8;
  cursor: pointer;
  animation: FadeIn linear 0.2s;
}

.form-select{
  padding: 4px;
  border-radius: 2px;
}
